extends layouts/default

block head
	- pageTitle = 'Wall-e template engine';
	- OGmetaTitle = 'Wall-e template engine';
	//- u can add all avaliable variables, available variables can be found in partials/head, partials/OGhead
	//- if u dont set this vars, they will have default values


block content
	header.header(role="banner")
		.header_content
			h1.header_title 
				strong.header_title_main «Литературные дегустации»
				| в лучших ресторанах Москвы 2-31 октября
			img.header_logo(alt="Городской фестиваль русской кухни" width=404 height=302 src="img/logo.png")
	section.content(role="main")
		h2.content_title Церемония открытия Городского фестиваля русской кухни в Москве «Литературные дегустации»
		section.content_main
			p.content_alert 2 октября 2015 в стенах торжественного зала «Метрополь» прошла церемония открытия городского фестиваля русской кухни в ресторанах «Литературные Дегустации». 
			p.content_text
				| Мероприятие состоялось в формате светского литературного бала и положило начало фестивальному месяцу в московских ресторанах. В этом году в поддержку Года литературы в России фестиваль проходит в формате «Литературные дегустации». Каждый ресторан представляет свой сет на основе одного из произведений русской классики, сдобренный фантазией и любовью к русской кухне своих шеф-поваров. На целый месяц, <strong>со 2 по 31 октября</strong>, Москва становится гастрономической библиотекой, возрождая традиции национальной кулинарии, представляя ее в широком многообразии. Церемония была открыта вступительной речью представителей Департамента торговли и услуг Москвы и компании «Пир Групп»: <br><strong>«Ресторан, так же как и литература, - это искусство.  Благодаря фестивалю, мы можем приобщиться к историческим гастрономическим истокам.  У москвичей появилась возможность попробовать то, что готовилось 150-200 лет назад.»</strong> - заместитель руководителя Департамента торговли и услуг Москвы Александр Иванов.
			p.content_text
				| <strong>«В Год литературы в России мы сделали подборку из более чем 60 классических произведений и предоставили её всем желающим рестораторам. Если рецептура позволяет приготовить по классическому рецепту, то так и делали шеф-повара ресторанов. Где нельзя, рецептуры блюд создавали вновь. Поменялись технологии готовки, и нет необходимости добавлять много не достаточно полезных компонентов. Сейчас другое представление о еде - современная русская кухня легче и вкуснее»</strong> - рассказал президент «ПИР Групп» Иван Меркулов.
			p.content_text
				| <strong>«Литературный бал»</strong> собрал множество друзей, которым близка идея возрождения популярности русской кухни, которые поддерживают и сами вносят весомый вклад в создание популярности бренда <strong>«Русская кухня»</strong> в мировом масштабе. Именно поэтому бал поддержали российские производители напитков – природной воды серебряной чистоты <strong>«Серябь»</strong> и крымского игристого вина <strong>«Золотая балка»</strong>.
			p.content_text После официальной части церемонии, гостей ждала презентация фестивальных сетов от ресторанов – это стало уникальной возможностью познакомиться с ними всеми одновременно. Шеф-повара представили фестивальные блюда и из первых уст рассказали секреты воплощения литературного меню. <br> Фестивальное сет-меню от ресторанов было разработано на основе литературных произведений русских писателей – от классиков до современников (А.С. Пушкин «Онегин», М.Ю. Булгаков «Мастер и Маргарита», В. А. Гиляровский «Москва и москвичи», Ильф и Петров «12 стульев», Братья Стругацкие «Хромая судьба», и многие другие). От знакомых блюд, перевоплотившихся в произведения гастрономическо-литературного искусства, до поистине экзотических кулинарных творений. И в основе их - только российские продукты.
			p.content_text Герои классических русских произведений любили роскошные пиры, а авторы очень вкусно это описывали. И теперь, со 2 по 31 октября, гости московских ресторанов могут почувствовать себя героями произведений русской классики – Чичиковым, Обломовым, доктором Борменталем, и даже Глебом Жегловым, дегустируя блюда, упомянутые великими авторами, в лучших ресторанах столицы.
	section.about
		h2.about_title Городской фестиваль русской кухни в Москве «Литературные дегустации» - это:
		.about_desc
			section.about_count
				h3.about_count_value 35
				p.about_count_text интереснейших ресторанов с интерьером на любой вкус
			section.about_count
				h3.about_count_value 25
				p.about_count_text известных <br> русских литературных произведений
		h2.about_title Партнеры церемонии открытия:
		.about_partners
			img.about_partners_img(src='img/partner1.png' alt='Серябь' width=109 height=62)
			img.about_partners_img(src='img/partner2.png' alt='Золотая балка' width=228 height=43)

	section.gallery
		.gallery_wrapper
			.gallery_title Фотогалерея
			.gallery_container
				- for (var i = 1; i < 99; i++) {
					if i == 3 || i == 4
						// hack, because where is no image 3 and 4
					else
						a.gallery_item(data-lightbox="gallery" data-title="Image" href="img/gallery/" + i + ".jpg")
							span.b-lazy.gallery_image(data-src="img/gallery/" + i + ".jpg" data-src-small="img/gallery/" + i + ".jpg")
				- }

	footer.copyright
		.copyright_text © ПИР , 1997-2014. Все права защищены.

block additionalCSS
	link(rel="stylesheet" href='css/app.css' property="stylesheet")

block scripts
	// build:js js/app.min.js async
	script(src='js/libs/jquery-2.1.4.min.js')
	script(src='js/libs/blazy.min.js')
	script(src='js/libs/lightbox.min.js')
	script(src='' + configs.js)
	// endbuild