extends layouts/default

block head
	- cssPath = 'css/app.css';
	- pageTitle = 'Wall-e template engine';
	- OGmetaTitle = 'Wall-e template engine';
	//- u can add all avaliable variables, available variables can be found in partials/head, partials/OGhead
	//- if u dont set this vars, they will have default values

block content

block additionalCSS

block scripts
	// build:js scripts/app.min.js async
	script(src='js/libs/jquery-2.1.4.min.js')
	script(src='' + configs.js)
	// endbuild